.vscode/**
.git/**
.gitignore
node_modules/**
src/**
scripts/**
test/**
backup/**
tsconfig.json
package-lock.json
webpack.config.js
.yarnrc
yarn.lock
.yarn/**
.github/**
images/**
.eslintrc.json
.npmrc
*.vsix
**/*.map
**/.DS_Store
out-bundle/**
../**
